<% content_for :page_specific_javascript_late do %>
<script type="text/javascript">
  $(document).ready(function($) {
    $("#specialty_name").on("input", function(e) {
     var text = $(this).val();
     if(text.length < 1) {
       sugList.html("");
       sugList.listview("refresh");
     } else {
      $.get("service.cfc?method=getSuggestions", {search:text}, function(res,code) {
        var str = "";
        for(var i=0, len=res.length; i<len; i++) {
          str += "<li>"+res[i]+"</li>";
        }
        sugList.html(str);
        sugList.listview("refresh");
        console.dir(res);
      },"json");
    }
  });
  });
</script>
<% end %>
<%= form_for [:admin, @hotel, @specialty] do |f| %>
<% if @specialty.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@specialty.errors.count, "error") %> prohibited this specialty from being saved:</h2>

  <ul>
    <% @specialty.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= text_field_tag "specialty_name", nil, {placeholder: "Search"} %>
  <%= f.hidden_field :name %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
