<p id="notice"><%= notice %></p>

<p>
  <b><%= t "admin.labels.name" %></b>
  <%=@specialty.name %>
</p>

<p>
  <b><%= t "admin.labels.description" %></b>
  <%=@specialty.description %>
</p>

<div data-role="controlgroup" data-mini="true" data-type="horizontal">
<%= link_to t("admin.labels.edit"), edit_admin_hotel_room_specialty_path(@hotel, @room, @specialty), data: {role: "button"} %>
<%= link_to t("admin.labels.cancel"), admin_hotel_room_specialties_path(@hotel, @room), data: {role: "button"} %>
</div>
