<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>First name:</th>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <th>Last name:</th>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <th>Username:</th>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>Password:</th>
    <td><%= link_to t("admin.labels.change_password"), change_password_admin_account_path(current_user) %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_admin_account_path(@user) %>
