<h1>Listing rooms</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Amount</th>
  </tr>

  <% @rooms.each do |room| %>
  <tr>
    <td>
      <a href="#popupBasic-<%= room.id %>" data-rel="popup" data-role="button" data-icon="arrow-d" data-iconpos="notext" data-position-to="#room-<%= room.id %>" data-overlay-theme="a" data-transition="slideup">Actions</a> 
      <div data-role="popup" id="popupBasic-<%= room.id %>">
        <ul data-role="listview">
          <li><%= link_to t("admin.labels.show"), admin_hotel_room_path(@hotel, room) %> </li>
          <li><%= link_to t("admin.labels.edit"), edit_admin_hotel_room_path(@hotel, room) %> </li>
          <li><%= link_to 'Photos', admin_hotel_room_photos_path(@hotel, room) %> </li>
          <li><%= link_to t("admin.labels.destroy"), admin_hotel_room_path(@hotel, room), method: :delete, data: { confirm: t("admin.labels.are_you_sure") } %> </li>
        </ul>
      </div>
    </td>
    <td id="room-<%= room.id %>"><%= link_to room.name, admin_hotel_room_path(@hotel, room) %></td>
    <td><%= room.description %></td>
    <td><%= room.amount %></td>
  </tr>
  <% end %>
</table>

<br />
<div data-role="controlgroup" data-mini="true" data-type="horizontal">
  <%= link_to 'New Room', new_admin_hotel_room_path, data: {role: "button"} %>
</div>