<% content_for :page_specific_javascript_late do %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>
<script>
  /*
   * Google Maps documentation: http://code.google.com/apis/maps/documentation/javascript/basics.html
   * Geolocation documentation: http://dev.w3.org/geo/api/spec-source.html
   */
   $( document ).on( "pageinit", "#main-page", function() {
    var defaultLatLng = new google.maps.LatLng(-0.2166667,-78.5);  // Default to Hollywood, CA when no geolocation support
    if ( navigator.geolocation ) {
      function success(pos) {
        // Location found, show map with these coordinates
        drawMap(new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude));
      }
      function fail(error) {
        drawMap(defaultLatLng);  // Failed to find location, show default map
      }
      // Find the users current position.  Cache the location for 5 minutes, timeout after 6 seconds
      navigator.geolocation.getCurrentPosition(success, fail, {maximumAge: 500000, enableHighAccuracy:true, timeout: 20000});
    } else {
      drawMap(defaultLatLng);  // No geolocation support, show default map
    }
    function drawMap(latlng) {
      var myOptions = {
        zoom: 10,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
      // Add an overlay to the map of current lat/lng
      var user_marker = new google.maps.Marker({
        position: latlng,
        map: map,
        animation: google.maps.Animation.DROP,
        title: ""
      });
      //Funcion para recorrer hoteles y poner marcadores
      <% @hotels.each do |hotel| %>
      <% if hotel.latitude.present? && hotel.longitude.present? %>
      var newLatLng = new google.maps.LatLng(<%= hotel.latitude %> ,<%= hotel.longitude %>); 
      var marker_<%= hotel.id %> = new google.maps.Marker({
        position: newLatLng,
        map: map,
        title: "<%= hotel.name %>",
        icon: "/assets/images/icons-png/pin2.png",
      });
      //Ventana de informacion
      var contentString = "<div id=\"content\">"+
      "<div id=\"siteNotice\">"+
      "</div>"+
      "<h2 id=\"firstHeading\" class=\"firstHeading\"><%= hotel.name %></h2>"+
      "<div id=\"bodyContent\">"+
      "<%= hotel.description.truncate(60, separator: ' ') %> <br/>"+
      "<a href='<%= hotel_path hotel %>'>Go to motel</a>"
      "</div>"+
      "</div>";
      var openInfoWindowHtml_<%= hotel.id %> = new google.maps.InfoWindow({
        content: contentString,
      });
      //Evento click en marcador
      google.maps.event.addListener(marker_<%= hotel.id %>, 'click', function() {
        //map.setZoom(10);
        openInfoWindowHtml_<%= hotel.id %>.open(map,marker_<%= hotel.id %>);
        map.setCenter(marker_<%= hotel.id %>.getPosition());
      });
      <% end %>
      <% end %>

      google.maps.event.addListener(map, 'idle', function() {
        var centerlat = map.getCenter().lat();
        var centerlng = map.getCenter().lng();
        var center_point = new google.maps.LatLng(centerlat, centerlng);
        var radious_point = new google.maps.LatLng(map.getBounds().Ca.k, map.getBounds().pa.j)
        var zoom=map.getZoom();
        var distance = google.maps.geometry.spherical.computeDistanceBetween(center_point, radious_point);

        // var user_marker = new google.maps.Marker({
        //   position: center_point,
        //   map: map,
        //   animation: google.maps.Animation.DROP,
        //   title: ""
        // });
        // var user_marker = new google.maps.Marker({
        //   position: radious_point,
        //   map: map,
        //   animation: google.maps.Animation.DROP,
        //   title: ""
        // });
        
        $.ajax({ 
          url:"/<%= params[:locale] %>/get_hotels_nearby/",
          data:{
            lat:  String(centerlat),
            lng:  String(centerlng),
            distance: distance
          },
          dataType: "script",
          success:function(result){
          }
        });
        // (/:locale)/hotel/get_hotels_nearby/:lng/:level(.:format) 
      });

    }
  });
</script>
<% end %>
<%= render :partial => "navbar" %>
<div class="square-box">
  <div id="map-canvas" class='square-content'></div> 
</div>
<ul id="hotels_list" data-role="listview" data-filter="true" data-filter-placeholder="Buscar..." data-inset="true">
  
</ul>