<% content_for :page_specific_javascript_early do %>
  <script type="text/javascript">
    $(function() {
      $('.ui-title').html('<%= link_to @hotel.name, hotel_path(@hotel), class: "ui-link" %>');
    });
  </script>
<% end %>
<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Quito%2C%20Pichincha%2C%20Ecuador&key=AIzaSyDXGufBORq45JOUYe3Kc_bG87r-9skTr3w"></iframe>
<div data-role="footer">
  <div class="ui-grid-b">
    <div class="ui-block-a"><a href="#" data-role="button"><%= image_tag "location.png", alt: "Locations" %></a></div>
    <div class="ui-block-b"><a href="#" data-role="button"><%= image_tag "bubble.png", alt: "Locations" %></a></div>
    <div class="ui-block-c"><a href="#" data-role="button"><%= image_tag "city.png", alt: "Locations" %></a></div>
    <div class="ui-block-a"><a href="#" data-role="button"><%= image_tag "banknote.png", alt: "Locations" %></a></div>
    <div class="ui-block-b"><a href="#" data-role="button"><%= image_tag "tag.png", alt: "Locations" %></a></div>
    <div class="ui-block-c"><a href="#" data-role="button"><%= image_tag "information.png", alt: "Locations" %></a></div>
  </div>
</div>