<% content_for :page_specific_javascript_late do %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
  function initialize() {
    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(<%= @hotel.latitude %>, <%= @hotel.longitude %>)
    };
    
    if ('<%= @hotel.latitude.to_s %>' == ''){
      document.getElementById('map-canvas').setAttribute("style",'height:0px');  
      return
    }else{
      document.getElementById('map-canvas').setAttribute("style",'height:450px');
    }
    

    var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

    var marker = new google.maps.Marker({
      position: map.getCenter(),
      map: map,
      title: 'Click to zoom'
    });

    var pos = new google.maps.LatLng(<%= @hotel.latitude %>,
           <%= @hotel.longitude %>);

    var contentString = "<div id=\"content\">"+
      "<div id=\"siteNotice\">"+
      "</div>"+
      "<h2 id=\"firstHeading\" class=\"firstHeading\"><%= @hotel.name %></h2>"+
      "<div id=\"bodyContent\">"+
      "<%= @hotel.description.truncate(60, separator: ' ') %>"+
      "</div>"+
      "</div>";


    var openInfoWindowHtml = new google.maps.InfoWindow({
            content: contentString,
         
          });


    google.maps.event.addListener(marker, 'click', function() {
      map.setZoom(18);
      openInfoWindowHtml.open(map,marker);
      map.setCenter(marker.getPosition());
      
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>

<% end %>

<% content_for :title do %>
<%= @hotel.name %>
<% end %>
<%= render :partial => "navbar" %>
<% if @hotel.hotel_photos.present? %>
  <div class="slider">
    <% @hotel.hotel_photos.each_with_index do |photo, index| %>
    <%= image_tag(photo.photo.main.url) if photo.photo? %>
    <% end %>
  </div>
<% end %>
<h3><%= @hotel.name %></h3>
<%= simple_format @hotel.description %>
<% if  @hotel.rooms.present? %>
<table class="ui-responsive" id="hotel-rooms">
  <thead>
    <tr>
      <th data-priority="7"></th>
      <th data-priority="7"><%= t "hotels.room"  %></th>
      <th data-priority="7"><%= t "hotels.price"  %></th>
    </tr>
  </thead>
  <tbody>
    <% @hotel.rooms.each do |room| %>
    <tr>
      <td><%= image_tag(room.photo.thumb.url) if room.photo.present? %></td>
      <td><%= link_to room.name, room_hotel_path(@hotel, room) %></td>
      <td><%= number_to_currency(room.amount) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% if @hotel.promotions.present? %>
<div class="slider">
  <% @hotel.promotions.each_with_index do |promotion, index| %>
  <%= image_tag(promotion.photo.banner.url, data:{'plugin-slide-caption' => promotion.name}) if promotion.photo? %>
  <% end %>
</div>
<% end %>



<div id="map-canvas" style="width:100%;"></div> 



<ul data-role="listview">
  <li><%= link_to t("hotels.comments"), "#" %></li>
  <li><%= link_to t("hotels.reserve"), "#" %></li>
</ul>
