<% content_for :title do %>
  <%= @hotel.name %>
<% end %>
<%= render :partial => "navbar" %>
<div class="slider">
  <% @hotel.hotel_photos.each_with_index do |photo, index| %>
  <%= image_tag(photo.photo.main.url) if photo.photo? %>
  <% end %>
</div>
<h3><%= @hotel.name %></h3>
<%= simple_format @hotel.description %>
<% if  @hotel.rooms.present? %>
  <table class="ui-responsive" id="hotel-rooms">
    <thead>
      <tr>
        <th data-priority="7">Available</th>
        <th data-priority="7">Room</th>
        <th data-priority="7">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @hotel.rooms.each do |room| %>
        <tr>
          <td><%= image_tag(room.photo.thumb.url) if room.photo.present? %></td>
          <td><%= link_to room.name, room_hotel_path(@hotel, room) %></td>
          <td><%= number_to_currency(room.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if @hotel.promotions.present? %>
  <div class="slider">
    <% @hotel.promotions.each_with_index do |promotion, index| %>
    <%= image_tag(promotion.photo.banner.url, data:{'plugin-slide-caption' => promotion.name}) if promotion.photo? %>
    <% end %>
  </div>
<% end %>
<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Quito%2C%20Pichincha%2C%20Ecuador&key=AIzaSyDXGufBORq45JOUYe3Kc_bG87r-9skTr3w"></iframe>
<ul data-role="listview">
  <li><%= link_to "Comments", "#" %></li>
  <li><%= link_to "Reserve", "#" %></li>
</ul>
