<% content_for :hotel_links do %>
<li><%= link_to 'New Hotel photo', new_admin_hotel_photo_path(@hotel) %></li>
<% end %>
<h1>Listing hotel_photos</h1>

<table data-role="table" class="ui-responsive">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @hotel_photos.each do |hotel_photo| %>
    <tr>
      <td><%= image_tag(hotel_photo.photo.thumb.url) if hotel_photo.photo? %></td>
      <td>
        <div data-mini="true" data-type="horizontal" data-role="controlgroup" class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal ui-mini">
          <div class="ui-controlgroup-controls">
            <%= link_to 'Show', admin_hotel_photo_path(@hotel, hotel_photo), data: { role: "button", corners: "true", theme: 'c', iconpos: "notext", icon: "delete" }, class: "ui-btn ui-btn-icon-notext" %>
            <%= link_to 'Edit', edit_admin_hotel_photo_path(@hotel, hotel_photo), data: { role: "button", corners: "true", theme: 'c', iconpos: "notext", icon: "delete" }, class: "ui-btn ui-btn-icon-notext" %>
            <%= link_to 'Destroy', admin_hotel_photo_path(@hotel, hotel_photo), method: :delete, data: { confirm: 'Are you sure?', role: "button", corners: "true", theme: 'c', iconpos: "notext", icon: "delete" }, class: "ui-btn ui-btn-icon-notext" %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Hotel photo', new_admin_hotel_photo_path(@hotel) %>
