<%= render :partial => 'links', :locals => { :hotel => @hotel } %>
<h1>Listing hotel_photos</h1>

<table class="ui-responsive">
  <thead>
    <tr>
      <th>Actions</th>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody>
    <% @hotel_photos.each do |hotel_photo| %>
    <tr>
      <td>
        <a href="#popupBasic-<%= hotel_photo.id %>" data-rel="popup" data-role="button" data-icon="arrow-d" data-iconpos="notext" data-position-to="#hotel_photo-<%= hotel_photo.id %>" data-overlay-theme="a" data-transition="slideup">Actions</a> 
        <div data-role="popup" id="popupBasic-<%= hotel_photo.id %>">
          <ul data-role="listview">
            <li><%= link_to t("admin.labels.show"), admin_hotel_photo_path(@hotel, hotel_photo) %> </li>
            <li><%= link_to 'Edit', edit_admin_hotel_photo_path(@hotel, hotel_photo) %> </li>
            <li><%= link_to 'Destroy', admin_hotel_photo_path(@hotel, hotel_photo), method: :delete, data: { confirm: 'Are you sure?' } %> </li>
          </ul>
        </div>
        <div data-mini="true" data-type="horizontal" data-role="controlgroup" class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal ui-mini">
          <div class="ui-controlgroup-controls">
          </div>
        </div>
      </td>
      <td id="hotel_photo-<%= hotel_photo.id %>"><%= link_to image_tag(hotel_photo.photo.thumb.url), admin_hotel_photo_path(@hotel, hotel_photo) if hotel_photo.photo? %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<div data-role="controlgroup" data-mini="true" data-type="horizontal">
<%= link_to 'New photo', new_admin_hotel_photo_path(@hotel), data: {role: "button"} %>
</div>