
<div class="slider">
  <% @images.each do |image| %>
  <img src="/assets/images/image1.jpg" <%= raw("data-plugin-slide-caption=\'#{image.caption}\'") if image.caption.present? %> >
  <% end %>
</div>

<div data-role="footer">
  <div class="ui-grid-a">
    <div class="ui-block-a"><a href="<%= nearest_hotel_index_path(type_name: "Motel") %>" data-role="button" class="hd-link"><%= t "hotels.motels" %></a></div>
    <div class="ui-block-b"><a href="<%= nearest_hotel_index_path(type_name: "Hotel") %>" data-role="button" class="hd-link"><%= t "hotels.hotels" %></a></div>
    <div class="ui-block-a"><a href="<%= nearest_hotel_index_path(type_name: "Hotel Transitorio") %>" data-role="button" class="hd-link"><%= t "hotels.hostals" %></a></div>
    <div class="ui-block-b"><a href="<%= nearest_hotel_index_path(type_name: "Edificio") %>" data-role="button" class="hd-link"><%= t "hotels.buildings" %></a></div>
  </div>
</div>


