<h1><%= t "admin.hotels.index.title" %></h1>

<table>
  <tr>
    <th><%= t "admin.labels.actions" %></th>
    <th><%= t "admin.labels.name" %></th>
    <th><%= t "admin.labels.description" %></th>
    <th><%= t "admin.labels.telephone" %></th>
    <th><%= t "admin.labels.email" %></th>
    <th><%= t "admin.labels.type_name" %></th>
  </tr>

  <% @hotels.each do |hotel| %>
  <tr class="<%= hotel.active? ? 'active' : 'inactive' %>">
    <td>
      <a href="#popupBasic-<%= hotel.id %>" data-rel="popup" data-role="button" data-icon="arrow-d" data-iconpos="notext" data-position-to="#hotel-<%= hotel.id %>" data-overlay-theme="a" data-transition="slideup">Actions</a> 
      <div data-role="popup" id="popupBasic-<%= hotel.id %>">
        <ul data-role="listview">
          <li><%= link_to t("admin.labels.show"), admin_hotel_path(hotel) %> </li>
          <li><%= link_to t("admin.labels.edit"), edit_admin_hotel_path(hotel) %> </li>
          <li><%= link_to t("admin.labels.photos"), admin_hotel_photos_path(hotel) %> </li>
          <li><%= link_to t("admin.labels.rooms"), admin_hotel_rooms_path(hotel) %> </li>
          <li><%= link_to t("admin.labels.promotions"), admin_hotel_promotions_path(hotel) %> </li>
          <li><%= link_to t("admin.labels.destroy"), admin_hotel_path(hotel), method: :delete, data: { confirm: t("admin.labels.are_you_sure") } %> </li>
          <% if @admin == true %>
            <li><%= link_to hotel.active? ? t("admin.labels.deactivate") : t("admin.labels.activate"), toggle_active_admin_hotel_path(hotel), method: :get, data: { confirm: t("admin.labels.are_you_sure") } %> </li>
          <% end %>
        </ul>
      </div>
    </td>
    <td id="hotel-<%= hotel.id %>"><%= link_to hotel.name, admin_hotel_path(hotel) %></td>
    <td><%= hotel.description.truncate(50, separator: ' ') %></td>
    <td><%= hotel.telephone %></td>
    <td><%= hotel.email %></td>
    <td><%= hotel.type_name %></td>
  </tr>
  <% end %>
</table>

<br />
<% if @admin == false %>
<div data-role="controlgroup" data-mini="true" data-type="horizontal">
<%= link_to t("admin.hotels.index.new_hotel"), new_admin_hotel_path, data: {role: "button"} %>
</div>
<% end %>

