<h1><%= t "admin.hotels.index.title" %></h1>

<table>
  <tr>
    <th><%= t "admin.labels.actions" %></th>
    <th><%= t "admin.labels.name" %></th>
    <th><%= t "admin.labels.description" %></th>
    <th><%= t "admin.labels.latitude" %></th>
    <th><%= t "admin.labels.longitude" %></th>
    <th><%= t "admin.labels.telephone" %></th>
    <th><%= t "admin.labels.email" %></th>
  </tr>

  <% @hotels.each do |hotel| %>
  <tr>
    <td>
      <a href="#popupBasic-<%= hotel.id %>" data-rel="popup" data-role="button" data-icon="arrow-d" data-iconpos="notext">Actions</a> 
      <div data-role="popup" id="popupBasic-<%= hotel.id %>">
        <ul data-role="listview">
          <li><%= link_to t("admin.labels.show"), admin_hotel_path(hotel) %> </li>
          <li><%= link_to t("admin.labels.edit"), edit_admin_hotel_path(hotel) %> </li>
          <li><%= link_to t("admin.labels.photos"), admin_hotel_photos_path(hotel) %> </li>
          <li><%= link_to t("admin.labels.rooms"), admin_hotel_rooms_path(hotel) %> </li>
          <li><%= link_to t("admin.labels.promotions"), admin_hotel_promotions_path(hotel) %> </li>
          <li><%= link_to t("admin.labels.destroy"), admin_hotel_path(hotel), method: :delete, data: { confirm: t("admin.labels.are_you_sure") } %> </li>
        </ul>
      </div>
    </td>
    <td><%= link_to hotel.name, admin_hotel_path(hotel) %></td>
    <td><%= hotel.description.truncate(50, separator: ' ') %></td>
    <td><%= hotel.latitude %></td>
    <td><%= hotel.longitude %></td>
    <td><%= hotel.telephone %></td>
    <td><%= hotel.email %></td>
  </tr>
  <% end %>
</table>

<br />
<div data-role="controlgroup" data-mini="true" data-type="horizontal">
<%= link_to t("admin.hotels.index.new_hotel"), new_admin_hotel_path, data: {role: "button"} %>
</div>
