<% content_for :hotel_links do %>
  <li><%= link_to 'Photos', admin_hotel_photos_path(@hotel) %></li>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hotel.name %>
</p>

<p>
  <b>Description:</b>
  <%= @hotel.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @hotel.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @hotel.longitude %>
</p>

<p>
  <b>Telephone:</b>
  <%= @hotel.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @hotel.email %>
</p>

<p>
  <b>Promotions:</b>
  <%=@hotel.promotions.count %>
</p>

<p>
  <b>Rooms:</b>
  <%=@hotel.promotions.count %>
</p>

<p>
  <b>Comments:</b>
  <%=@hotel.promotions.count %>
</p>




<%= link_to 'Edit', edit_admin_hotel_path(@hotel) %> |
<%= link_to 'Back', admin_hotels_path %>
