<% content_for :hotel_links do %>
  <li><%= link_to t("admin.labels.photos"), admin_hotel_photos_path(@hotel) %></li>
  <li><%= link_to t("admin.labels.rooms"), admin_hotel_rooms_path(@hotel) %></li>
  <li><%= link_to t("admin.labels.promotions"), admin_hotel_promotions_path(@hotel) %></li>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b><%= t "admin.labels.name" %></b>
  <%= @hotel.name %>
</p>

<p>
  <b><%= t "admin.labels.description" %></b>
  <%= @hotel.description %>
</p>

<p>
  <b><%= t "admin.labels.latitude" %></b>
  <%= @hotel.latitude %>
</p>

<p>
  <b><%= t "admin.labels.longitude" %></b>
  <%= @hotel.longitude %>
</p>

<p>
  <b><%= t "admin.labels.address" %></b>
  <%= @hotel.location %>
</p>

<p>
  <b><%= t "admin.labels.telephone" %></b>
  <%= @hotel.telephone %>
</p>

<p>
  <b><%= t "admin.labels.email" %></b>
  <%= @hotel.email %>
</p>

<p>
  <b><%= t "admin.labels.promotions" %></b>
  <%=@hotel.promotions.count %>
</p>

<p>
  <b><%= t "admin.labels.rooms" %></b>
  <%=@hotel.promotions.count %>
</p>

<p>
  <b><%= t "admin.labels.comments" %></b>
  <%=@hotel.promotions.count %>
</p>



<div data-role="controlgroup" data-mini="true" data-type="horizontal">
<%= link_to t("admin.labels.edit"), edit_admin_hotel_path(@hotel), data: {role: "button"} %>
<%= link_to t("admin.hotels.show.back"), admin_hotels_path, data: {role: "button"} %>
</div>