<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_hotel.name %>
</p>

<p>
  <b>Address:</b>
  <%= @admin_hotel.address %>
</p>

<p>
  <b>Description:</b>
  <%= @admin_hotel.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @admin_hotel.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @admin_hotel.longitude %>
</p>


<%= link_to 'Edit', edit_admin_hotel_path(@admin_hotel) %> |
<%= link_to 'Back', admin_hotels_path %>
