<h1>Listing promotions</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Image</th>
  </tr>

  <% @promotions.each do |promotion| %>
  <tr>
    <td>
      <a href="#popupBasic-<%= promotion.id %>" data-rel="popup" data-role="button" data-icon="arrow-d" data-iconpos="notext">Actions</a> 
      <div data-role="popup" id="popupBasic-<%= promotion.id %>">
        <ul data-role="listview">
          <li><%= link_to 'Show', admin_hotel_promotion_path(@hotel, promotion) %> </li>
          <li><%= link_to 'Edit', edit_admin_hotel_promotion_path(@hotel, promotion) %> </li>
          <li><%= link_to 'Destroy', admin_hotel_promotion_path(@hotel, promotion), method: :delete, data: { confirm: 'Are you sure?' } %> </li>
        </ul>
      </div>
    </td>
    <td><%= promotion.name %></td>
    <td><%= image_tag(promotion.photo.banner.url) if promotion.photo? %></td>
  </tr>
  <% end %>
</table>

<br />
<div data-role="controlgroup" data-mini="true" data-type="horizontal">
  <%= link_to 'New Promotion', new_admin_hotel_promotion_path, data: {role: "button"} %>
</div>
