    
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @promotion.name %>
</p>

<img sizes="(min-width: 40em) 80vw, 100vw"
srcset="<%= @promotion.photo.main.url %> 375w, <%= @promotion.photo.logo.url %> 480w, <%= @promotion.photo.banner.url %> 600w, <%= @promotion.photo_url %> 768w" 
alt="hotel image" />

<div data-role="controlgroup" data-mini="true" data-type="horizontal">
  <%= link_to t("admin.labels.edit"), edit_admin_hotel_promotion_path(@promotion.hotel_id), data: {role: "button"} %>
  <%= link_to 'Back', admin_hotel_promotions_path(@promotion.hotel_id), data: {role: "button"} %>
</div>